<div>
    <article>
        <h3>
            {{post_title}}
        </h3>
        <div>
            {{post.username}} on {{created_at}}
        </div>
        <div>
            {{post_body}}
        </div>
    </article>
</div>
