<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eleven:eleven</title>
  <link rel="icon" href="https://i.postimg.cc/Kz7jqLzJ/code-logo.png" type="image/x-icon">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  {{!-- <link rel="stylesheet" href="./stylesheets/dashboardstyle.css"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/86f67a038c.js" crossorigin="anonymous"></script>

</head>

<body>

<main>
  {{{ body }}}
</main>

<footer class="footer fixed-bottom">

      <p class="text-center text-white">
        <a href="/">
          <img src="https://i.postimg.cc/Kz7jqLzJ/code-logo.png" href="/login" type="image/x-icon" style="width:15px; height: 15px">
        </a>
        eleven:eleven (formerly StudyApp) <span>&copy;</span> 2021
      </p>

      <div class="text-center text-white">Questions/Concerns? <a id="contact-us-link" href="/contact-us">Contact Us Here! </a>Icons made by <a id="freepick-link" class="icon-description" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a id="flaticon-link" class="icon-description" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <br />
    

</footer>



</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="../../public/javascript/logout.js"></script>
<script src="../../public/javascript/dashboard.js"></script>

</html>