<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Study App</title>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

<header>
  <h1>
    <a href="/">Study App</a>
  </h1>
  <nav>
  </nav>
</header>

<main>
  {{{ body }}}
</main>

<footer>
  <p>
    Study App <span>&copy;</span> 2021
  </p>
</footer>

</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>

</html>