<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>eleven:eleven</title>
  <link rel="icon" href="https://i.postimg.cc/Kz7jqLzJ/code-logo.png" type="image/x-icon">
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
  {{!-- <link rel="stylesheet" href="./stylesheets/dashboardstyle.css"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/86f67a038c.js" crossorigin="anonymous"></script>

</head>

<body>

<header>
  {{!-- {{#if logged_in}} --}}
  <nav>
    <div class="nav-left">
        <a href="/dashboard">
            <img src="https://i.postimg.cc/4xcvFKTq/eleven-eleven-logo-v2-pixlr.png" class="logo">
        </a>
        <ul>
            <li><i class="far fa-bell" aria-hidden="true"></i></li>
            <li><i class="fas fa-envelope" aria-hidden="true"></i></li>
        </ul>
    </div>
    <div class="nav-right">
      <div class="search-box">
          <i class="fas fa-search" aria-hidden="true"></i>
          <input type="text" placeholder="Search">
      </div>
      <div class="nav-user-icon online">
          <img src="https://i.postimg.cc/wMtXDJZv/profile-pic-1.jpg" alt="/">
      </div>
        {{!------------ Settings Menu -------------}}
        <div class="settings-menu">
            <div class="settings-menu-inner">
                <div class="user-profile">
                    <img src="images/profilepic2.jpg">
                    <div>
                        <p>Erica Fuentes</p>
                        <a href="#">See your profile</a>
                    </div>
                </div>
                <hr>
                <div class="user-profile">
                    <img src="./images/feedback.jpg">
                    <div>
                        <p>Give Feedback</p>
                        <a href="#">Help us improve our website</a>
                    </div>
                </div>
                <hr>
                <div class="settings-links">
                    <img src="./images/settings.jfif" class="settings-icon">
                        <a href="#">Settings & Privacy<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>
                <div class="settings-links">
                    <img src="./images/help.png" class="settings-icon">
                        <a href="#">Help & Support<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>
                <div class="settings-links">
                    <img src="./images/display.png" class="settings-icon">
                        <a href="#">Display & Accessibility<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>
                <div class="settings-links">
                    <img src="./images/logout.png" class="settings-icon">
                        <a href="#">Logout<i class="fa-solid fa-arrow-right-to-bracket"></i></a>
                </div>
            </div>
            <br />
            <button type="submit" id="logout" class="btn">Logout</button>
        </div>
    </div>

  </nav>
  {{!-- {{/if}} --}}
</header>

<main>
  {{{ body }}}
</main>

<footer class="footer fixed-bottom">

      <p class="text-center text-white">
        <a href="/">
          <img src="https://i.postimg.cc/Kz7jqLzJ/code-logo.png" href="/login" type="image/x-icon" style="width:15px; height: 15px">
        </a>
        eleven:eleven (formerly StudyApp) <span>&copy;</span> 2021
      </p>

      <div class="text-center text-white">Questions/Concerns? <a id="contact-us-link" href="/contact-us">Contact Us Here! </a>Icons made by <a id="freepick-link" class="icon-description" href="https://www.freepik.com" title="Freepik">Freepik</a> from <a id="flaticon-link" class="icon-description" href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
      <br />
    

</footer>



</body>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="/javascript/logout.js"></script>
<script src="/javascript/dashboard.js"></script>

</html>