<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eleven Eleven</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/86f67a038c.js" crossorigin="anonymous"></script>
</head>
<body>

    <nav>
        <div class="nav-left">
            <img src="./images/eleven-eleven-logo-v2-pixlr (1).png" class="logo">
            <ul>
                <li><i class="far fa-bell"></i></li>
                <li><img src="/"></li>
                <li><img src="/"></li>
            </ul>
        </div>
        <div class="nav-right">
            <div class="search-box">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="nav-user-icon online">
                <img src="./images/profile pic 1.jpeg" alt="/">
            </div>
        </div>
    </nav>

    <div class="container">
    <!------------ left-sidebar ------------->
        <div class="left-sidebar">
            <div class="imp-links">
                <a href="#"><i class="far fa-newspaper"></i> News Feed </a>
                <a href="#"><i class="fas fa-user-plus"></i> Users </a>
                <a href="#"><i class="fas fa-users"></i> Groups </a>
                <a href="#"><i class="far fa-clipboard"></i> Notes </a>
                <a href="#"><i class="fab fa-youtube"></i> Videos </a>
            </div>
            <div class="shortcut-links">
                <p>Your Shortcuts</p>
                <a href="#"><img src="/"> Web Developers </a>
                <a href="#"><img src="/"> Web Design Course </a>
                <a href="#"><img src="/"> Full Stack Developers </a>
                <a href="#"><img src="/"> Website Experts </a>
            </div>
        </div>
    <!----------- main content -------------->
        <div class="main-sidebar"></div>
            <div class="stroy-gallery">
                <div class="story">
                    <img src="/">
                    <p>Post Story</p>
                </div>
            </div>

    <!------------ right-sidebar ------------->
        <div class="right-sidebar">
            
            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>

            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>
                <div class="rightt-event">
                    <h4>Social Media</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Wilson Tech Park </p>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>22</h3>
                    <span>June</span>
                </div>
                <div class="rightt-event">
                    <h4>Mobile Marketing</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Wilson Tech Park </p>
                    <a href="#">More Info</a>
                </div>
            </div>

            <div class="sidebar-title">
                <h4>Advertisements</h4>
                <a href="#">Close</a>
            </div>
            <img src="./images/study-group.jpg" class="sidebar-ads">

            <div class="sidebar-title">
                <h4>Conversations</h4>
                <a href="#">Hide Chat</a>
            </div>

            <div class="online-list">
                <div class="online">
                    <img src="./images/profile pic 1.jpeg" alt="">
                </div>
                <p>Alison Mina</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="./images/profile pic 1.jpeg" alt="">
                </div>
                <p>Jackson Aston</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="./images/profile pic 1.jpeg" alt="">
                </div>
                <p>Samona Rose</p>
            </div>
        </div>
    </div>

</body>
</html>