<header>

  {{> nav }}

</header>

<div class="container">
    <div class="row">
        {{!------------ left-sidebar -------------}}
        <div class="left-sidebar col-sm-4">
            <div class="imp-links">
                <a href="#"><i class="far fa-newspaper"></i>News Feed</a>
                <a href="#"><i class="fas fa-user-plus"></i> Users </a>
                <a href="/group"><i class="fas fa-users"></i> Groups </a>
                <a href="#"><i class="far fa-clipboard"></i> Notes </a>
                <a href="#"><i class="fab fa-youtube"></i> Videos </a>
            </div>
            <div class="group-links right-mid-left">
                <h3>Create a New Group</h3>
                <p>Group Name:</p>
                <div class="search-box2">
                    <input type="text" placeholder="Enter Group Name Here">
                </div>
                <button type="submit">
                    Create
                </button>
            </div>
        </div>
    {{!----------- main content --------------}}
        <div class="main-content col-sm-4">

            <div class="write-post-container right-mid-left">
                <div class="user-profile">
                    <img src="images/profilepic2.jpg">
                    <div>
                        <p>John Nicholson</p>
                        <small> Public <i class="fas fa-caret-down"></i></small>
                    </div>
                </div>

                <div class="post-input-container">
                    <textarea rows="3" placeholder="What would you like to share?"></textarea>
                    <div class="add-post-links">
                        <a href="#"><i class="fas fa-video fa-lg"></i>Video</a>
                        <a href="#"><i class="fas fa-image fa-lg"></i>Photo</a>
                        <button type="submit">Post</button>
                    </div>
                </div>
            </div>
            {{#each posts as |post|}}
            <div class="post-container right-mid-left">
                <div class="post-row">
                    <div class="user-profile">
                        <img src="images/profilepic2.jpg">
                        <div>
                            <h2>{{user.username}}</h2>
                            <div>on {{created_at}}</div>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
                
                <h3>{{post_title}}</h3>
                <p class="post-text">{{post_body}}</p>
                <img src="https://i.postimg.cc/0jgYdrs0/full-stack-developer.jpg" class="post-img">
                <div class="post-row">
                    <div class="activity-icons">
                        <div><i class="fas fa-thumbs-up"></i>32</div>
                        <div><i class="fas fa-thumbs-down"></i>2</div>
                        <div><i class="fas fa-comments"></i>16</div>
                    </div>
                    <div class="post-profile-icon">
                        <img src="./images/profilepic2.jpg"><i class="fas fa-caret-down"></i>
                    </div>
                </div>
            </div>
            <div class="load-more">
                <button type="button" class-="load-more-btn">Load More</button>
            </div>
        </div>
        {{/each}}
    </div>

{{!------------ right-sidebar -------------}}
    {{!-- <div class="right-sidebar">
        
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See All</a>
        </div> --}}

    {{!------------ right-sidebar -------------}}
        <div class="right-sidebar right-mid-left col-sm-4">
            
            <div class="sidebar-title">
                <h4>Events</h4>
                <a href="#">See All</a>
            </div>

            <div class="event">
                <div class="left-event">
                    <h3>18</h3>
                    <span>March</span>
                </div>
                <div class="rightt-event">
                    <h4>Social Media</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Wilson Tech Park </p>
                    <a href="#">More Info</a>
                </div>
            </div>
            <div class="event">
                <div class="left-event">
                    <h3>22</h3>
                    <span>June</span>
                </div>
                <div class="rightt-event">
                    <h4>Mobile Marketing</h4>
                    <p><i class="fas fa-map-marker-alt"></i> Wilson Tech Park </p>
                    <a href="#">More Info</a>
                </div>
            </div>

            <div class="sidebar-title">
                <h4>Advertisements</h4>
                <a href="#">Close</a>
            </div>
            <img src="./images/study-group.jpg" class="sidebar-ads">

            <div class="sidebar-title">
                <h4>Conversations</h4>
                <a href="#">Hide Chat</a>
            </div>

            <div class="online-list">
                <div class="online">
                    <img src="./images/profile pic 1.jpeg" alt="">
                </div>
                <p>Alison Mina</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="./images/profile pic 1.jpeg" alt="">
                </div>
                <p>Jackson Aston</p>
            </div>
            <div class="online-list">
                <div class="online">
                    <img src="./images/profile pic 1.jpeg" alt="">
                </div>
                <p>Samona Rose</p>
            </div>
        </div>
    </div>
</div>

    <div class="footer">
        <p>Copyright 2021 - Eleven Eleven</p>
    </div>

    {{!-- <script src="./dashboard.js"></script> --}}
</body>


<script src="../../public/javascript/dashboard.js"></script>

</html>
