<div class="container login-page">
  <br />
  <br />
  <br />
  <br />

  <div class="container" id="middle-widget">

{{!-- heading section --}}
  <div class="row justify-content-center">
    <img src="../public/images/eleven-eleven-logo-v2-pixlr.png" alt="eleven eleven company logo">
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-12">
      <p class="d-flex justify-content-center" id="loginTitle">Login</p>
    </div>
  </div>

{{!-- login form section --}}
  <div class="row login-form justify-content-center">
    <div class="col-lg-4 col-md-6 col-12">
      <form class="login-form">
        <div class="form-group d-flex justify-content-between align-items-center text-white">
          <label for="email-login">Email:</label>
          <input class="d-flex justify-content-center align-items-center" type="text" id="email-login" />
        </div>
        <div class="form-group d-flex justify-content-between align-items-center text-white">
          <label for="password-login">Password:</label>
          <input class="d-flex justify-content-center align-items-center" type="password" id="password-login" />
        </div>
        <div class="d-flex justify-content-center">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <p class="text-white" id="noAccountYet">Do you not have an account? <span><a id="signup-link"href="/sign-up">Sign-Up Here!</a></span></p>
  </div>


  </div>
</div>


<script src="/javascript/login.js"></script>