<div class="container login-page">
  <br />
  <br />
  <br />
  <br />

  <div class="container col-lg-4 col-md-6 col-12" id="middle-widget">

{{!-- heading section --}}
  <div class="row justify-content-center">
    <a href="/">
      <img src="https://i.postimg.cc/4xcvFKTq/eleven-eleven-logo-v2-pixlr.png" id="logofront" alt="eleven eleven company logo" style="width:425px; height: 250px">
    </a>
  </div>

  <div class="row justify-content-center">
    <div>
      <p class="d-flex justify-content-center" id="loginTitle">Login</p>
    </div>
  </div>

{{!-- login form section --}}
  <div class="row d-flex justify-content-center">
    <div>
      <form class="login-form">
        <div class="d-flex justify-content-between align-items-center text-white">
          <label for="email-login">Email:</label>
          <input class="d-flex justify-content-center align-items-center" placeholder="Enter Email" type="text" id="email-login" />
        </div>
        <div class="d-flex justify-content-between align-items-center text-white">
          <label for="password-login">Password: </label> <br />
          <input class="d-flex justify-content-center align-items-center" placeholder="Password" type="password" id="password-login" />
        </div>

        <br />

        <div class="d-flex justify-content-center">
          <button type="submit" id="loginbtn"class="btn btn-primary">Login</button>
        </div>
      </form>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <p class="text-white" id="noAccountYet">Do you not have an account? <span><a id="signup-link" href="/signup">Sign-Up Here!</a></span></p>
  </div>


  </div>
</div>


<script src="/javascript/login.js"></script>