<div class="container signup-page">
  <br />
  <br />
  

  <div class="container col-lg-4 col-md-6 col-12" id="middle-widget">

{{!-- heading section --}}
  <div class="row justify-content-center">
    <a href="/">
      <img src="https://i.postimg.cc/4xcvFKTq/eleven-eleven-logo-v2-pixlr.png" id="logofront" alt="eleven eleven company logo" style="width:425px; height: 250px">
    </a>
  </div>

  <div class="row justify-content-center">
    <div>
      <p class="d-flex justify-content-center" id="signupTitle">Sign-Up</p>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-12 g-1">
      <p class="d-flex justify-content-center text-center text-white" >Welcome to eleven:eleven!<br /> <br />We are dedicated to helping web developers of all experience levels become the best version of themselves.<br /><br />Sign-Up below to start your journey!</p>
    </div>
  </div>

  <br />

{{!-- login form section --}}
  <div class="row d-flex justify-content-center">
    <div>
      <form class="signup-form">
        {{!-- <div class="d-flex justify-content-between align-items-center text-white">
          <label for="email-login">Email:</label>
          <input class="d-flex justify-content-center align-items-center" placeholder="Enter Email" type="text" id="email-login" />
        </div> --}}

        <div class="d-flex justify-content-between align-items-center text-white">
          <label for="username-signup">Username: </label> <br />
          <input class="d-flex justify-content-center align-items-center" type="text" id="username-signup" placeholder="Username" />
        </div>

        <div class="d-flex justify-content-between align-items-center text-white">
          <label for="email-signup">Email:</label>
          <input class="d-flex justify-content-center align-items-center" type="text" id="email-signup" placeholder="Enter Email" />
           {{!-- <br />
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
        </div>
        
        <div class="d-flex justify-content-between align-items-center text-white">
          <label for="password-signup">Password:</label> <br />
          <input class="d-flex justify-content-center align-items-center" type="password" id="password-signup" placeholder="Password"/>
           {{!-- <br />
          <small id="passwordHelpBlock" class="form-text text-muted">
            Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
          </small> --}}
        </div>

        <br />

        <div class="d-flex justify-content-center">
          <button type="submit" id="signupbtn"class="btn btn-primary">Sign-Up</button>
        </div>
      </form>
    </div>
  </div>

  <br />

  <div class="row justify-content-center">
    <p class="text-white" id="noAccountYet">Already have an account? <span><a id="login-link" href="/login"> Login Here!</a></span></p>
  </div>


  </div>
</div>





















{{!-- <div class="container">

<div class="row">
  <img src="../public/images/eleven-eleven-logo-v2-pixlr.png" alt="eleven eleven company logo" />
</div>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" placeholder="Username" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" placeholder="Enter email" />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" placeholder="Password"/>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </small>
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

</div> --}}

<script src="/javascript/signup.js"></script>