<div class="container">

<div class="row">
  <img src="../public/images/eleven-eleven-logo-v2-pixlr.png" alt="eleven eleven company logo" />
</div>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" placeholder="Username" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" placeholder="Enter email" />
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" placeholder="Password"/>
    <small id="passwordHelpBlock" class="form-text text-muted">
      Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </small>
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

</div>

<script src="/javascript/signup.js"></script>