* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgba(42,50,60,255);
  padding-bottom: 70px;
}

#middle-widget {
  background-color: rgba(50,60,72,255);
}

#loginTitle {
  color: white;
  font-size: 16;
  font-weight: bold;
}

#signupTitle {
  color: white;
  font-size: 24px;
  font-weight: bold;
}

#noAccountYet {
  color: black;
  text-decoration: none;
}

#noAccountYet > span {
  color: lightskyblue;
  text-decoration: none;
}

#signup-link,
#login-link,
#freepick-link,
#flaticon-link,
#contact-us-link,
#eleven-info-email-address,
.icon-description {
  text-decoration: none;
  color: rgba(252,0,255,255);
}

#loginbtn,
#signupbtn,
#loginbtnhomepage {
  background-color: purple;
  border-color: black;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  margin-top: -50px;
}

/* .footer {
  height: 50px;
  margin-top: -50px;
} */

/* CHRIS ENTERING CSS HERE BELOW */
.right-mid-left {
  list-style: none;
  border-radius: 10px;
  background-color: white;
  color: black;
  border: 4px solid purple;
}

.right-mid-left h4 {
  border-bottom: 2px groove purple;  
}

.comment-border-bottom {
  border-bottom: 2px groove purple;
  font-weight: 700;
}

.post-border-bottom {
  border-bottom: 2px groove purple;
  font-size: 20px;
  font-weight: 700;
}

.bolder-name_date {
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
}


/* Pulled the below css from Nick's CSS file. */
.logo {
  width: 160px;
  margin-right: 45px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  padding: 3px 2%;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 4px solid purple;
}

.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left, .nav-right {
  display: flex;
  align-items: center;
}

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

.nav-left ul li i {
  width: 20px;
  margin: 0 15px;
  color: purple;

}

.nav-user-icon img {
  width: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.nav-user-icon {
  margin-left: 30px;
}

.search-box {
  background: white;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: 2px solid purple;
}

.search-box2 {
  background: white;
  width: 300px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
  border: 2px solid purple;
}


.search-box i {
  width: 18px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}

.search-box2 input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid white;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}

#logout {
  text-decoration: none;
  color: white;
  background-color: purple;
}

.imp-links a, .group-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  color: white;
  width: fit-content;
}

.imp-links a img , .far, .fas, .fab {
  width: 25px;
  margin-right: 15px;
  color: purple;
}

.imp-links {
  border-bottom: 1px solid purple;
}

.group-links p {
  text-align: center;
}

.group-links h3 {
  margin: 25px 0;
  color: black;
  font-weight: 600;
  text-align: center;
}

.group-links button {
  background-color: purple;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin: 20px auto;
  display: block;
}

.search-box2 {
  margin-left: 20px;
}


.write-post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  columns: #626262;
  border: 4px solid purple;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

.user-profile p {
  margin-bottom: -5px;
  font-weight: 500;
  color: black;
}

.user-profile small {
  font-size: 12px;
}

.post-input-container {
  padding-left: 55px;
  padding-top: 20px;}

.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid purple;
  background: transparent;
  resize: none;
}

.add-post-links {
  display: flex;
  margin-top: 10px;
}

.add-post-links a {
  text-decoration: none;
  display: flex;
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.add-post-links a i {
  width: 20px;
  margin-right: 10px;
}

.post-container {
  width: 100%;
  background: #fff;
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
  border: 4px solid purple;

}

.user-profile span {
  font-size: 13px;
  color: #9a9a9a;
}

.post-text {
  color: black;
  margin: 15px;
  font-size: 15px;
}

.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.post-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activity-icons div i {
  width: 18px;
  margin-bottom: 10px;
}

.activity-icons div {
  display: inline-flex;
  align-items: center;
  margin-right: 30px;
}